.Game {
    width: 100%;
    height: 100%;
}

.Game.symbolOne.active td:hover {
    cursor: pointer;
    background-image: url("../../../public/Player1SymbolTransparent.png");
    background-size: cover;
}

.Game.symbolTwo.active td:hover {
    cursor: pointer;
    background-image: url("../../../public/Player2SymbolTransparent.png");
    background-size: cover;
}