html, body, div#root {
  display: flex;
  background-color: whitesmoke;
  flex-direction: column;
  width: 100% !important;
  height: 100% !important;
  z-index: 0;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: white;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: black;
  border: 1px solid white;
  border-radius: 8px;
}

.App {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.Games {
  height: fit-content;
  width: fit-content;
}

td {
  border: 4px solid;
}

.gameActive.one {
  border: 4px solid red;
}

.gameActive.two {
  border: 4px solid blue;
}

.gameWonPOne {
  background-image: url("../public/Player1SymbolTransparent.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.gameWonPTwo {
  background-image: url("../public/Player2SymbolTransparent.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.draw {
  background-image: url("../public/DrawSymbol.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.player {
  width: 100px;
  height: fit-content;
  font-size: x-large;
  font-weight: 750;
  text-align: center;
  overflow-wrap: break-word;
}

@media screen and (max-width: 999px) {
  .playerOne {
    color: red;
    position: absolute;
    top: 50px;
    right: 50vw;
  }

  .playerTwo {
    color: blue;
    position: absolute;
    top: 50px;
    left: 50vw;
  }
}

@media screen and (min-width: 999px) {
  .playerOne {
    color: red;
    position: absolute;
    top: 50px;
    left: 8vw;
  }

  .playerTwo {
    color: blue;
    position: absolute;
    top: 50px;
    right: 8vw;
  }
}

.playerActive {
  border: 4px solid black;
  border-radius: 5px;
  padding: 4px 20px 8px 20px;
}

.playerActive::after {
  content: "Your Turn";
  font-size: medium;
  font-weight: bold;
  color: black;
  padding: 0px 2px;
  background-color: whitesmoke;
  width: fit-content;
  position: absolute;
  top: -14px;
}

.playerOne.playerActive::after {
  left: 30px;
}

.playerTwo.playerActive::after {
  right: 30px;
}

.playerInactive {
  padding: 8px 24px 12px 24px;
}