.window {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: whitesmoke;
    position: absolute;
    z-index: 1;
    width: 95vw;
    height: 95vh;

    color: black;
    border: 10px solid black;
    border-radius: 5px;

    font-size: 10vh;
    font-weight: bolder;
    text-align: center;

}

.titleBox {
    border: 10px solid black;
    border-radius: 5px;
    padding: 5px;
}

.title {
    font-size: 5vh;
}

.subtitle {
    font-size: small;
}

.nameInputs {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nameInputs input {
    font-size: x-large;
    font-weight: bolder;
    font-family: inherit;
}

.nameInputs input:focus {
    outline: none !important;
}

.playerOne {
    color: red;
    border: 6px solid red;
    border-radius: 5px;
}

.playerTwo {
    color: blue;
    border: 6px solid blue;
    border-radius: 5px;
}

.button {
    color: whitesmoke;
    font-size: 5vh;
    font-weight: bold;
    text-align: center;
    width: fit-content;
    border: 4px solid black;
    border-radius: 5px;
    background-color: black;
    padding: 0px 4px 4px 4px;
}

.button:hover {
    cursor: pointer;
    border: 4px solid gray;
    background-color: gray;
}