.window {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: whitesmoke;
    position: absolute;
    z-index: 1;
    width: 95vw;
    height: 95vh;

    color: black;
    border: 10px solid black;
    border-radius: 5px;

    font-size: 10vh;
    font-weight: bolder;
    text-align: center;

}

.titleBox {
    border: 10px solid black;
    border-radius: 5px;
    padding: 5px;
}

.title {
    font-size: 5vh;
}

.subtitle {
    font-size: small;
}

.nameInputs {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 999px){
    .nameInputs {
        flex-direction: column;
    }

    .nameInputs input {
        margin: 5px 0px;
    }
}

.nameInputs input {
    font-size: x-large;
    font-weight: bolder;
    font-family: inherit;
}

.nameInputs input:focus {
    outline: none !important;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 5px;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 5px;
}
  
input:checked + .slider {
    background-color: blue;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px blue;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.goesFirst {
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playerOne {
    color: red;
    border: 6px solid red;
    border-radius: 5px;
}

.playerTwo {
    color: blue;
    border: 6px solid blue;
    border-radius: 5px;
}

.choices {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button {
    color: whitesmoke;
    font-size: 5vh;
    font-weight: bold;
    text-align: center;
    width: fit-content;
    border: 4px solid black;
    border-radius: 5px;
    background-color: black;
    padding: 0px 4px 4px 4px;
    margin: 0px 10px;
}

.button:hover {
    cursor: pointer;
    border: 4px solid gray;
    background-color: gray;
}

.close {
    width: 50px;
    margin: -1px -1px;
    border-radius: 0px 0px 5px 0px ;
}

.leaderBoardButton {
    width: 70px;
}

.leaderBoardWindow {
    display: flex;
    flex-direction: column;
    background: whitesmoke;
    position: absolute;
    z-index: 1;
    width: 95vw;
    height: 95vh;

    color: black;
    border: 10px solid black;
    border-radius: 5px;

    font-size: 5vh;
    font-weight: bolder;
    text-align: center;
}

.leaderBoard {
    width: 100%;
    overflow: auto;
}

.leaderBoard table {
    width: 100%;
}